h1 {
    color: rgb(26, 73, 44);
    text-align: center;
}

h2 {
    text-align: center;
}
body {
    /* background-color: rgb(139, 142, 143); */
    background-image: linear-gradient(#9e9e9e, #747474);
    min-height: 100vh;
  

  }

  p {
    text-align: center;
  }


  /* li {
    border:  4px solid orange;
  }

  h1 {
    border: 4px solid blue;
  } */

 .item1 {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
 }

 .item2 {
  color: rgb(0, 174, 255);
  font-family: 'Times New Roman', Times, serif;
 }

 .item3 {
  color: rgb(255, 30, 0);
  font-family: w;
 }

 div.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  /* text-decoration: none; */
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
